@font-face {
    font-family: 'fontello';
    src: url('/font/fontello.eot?15087792');
    src: url('/font/fontello.eot?15087792#iefix') format('embedded-opentype'), url('/font/fontello.woff?15087792') format('woff'), url('/font/fontello.ttf?15087792') format('truetype'), url('/font/fontello.svg?15087792#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-play:before {
    content: '\e801';
}

.icon-play.playing:before,
.icon-pause:before {
    content: '\e802';
}

.icon-left:before {
    content: '\e803';
}

.icon-right:before {
    content: '\e805';
}

body {
    font-family: Arial, sans-serif;
    color: #444;
    line-height: 1.5em;
    min-width: 30em;
}

button {
    outline: none;
}

.settings {
    padding: 0;
}

.settings li {
    list-style-type: none;
}

.settings textarea,
.settings input[type=text],
.settings input[type=number] {
    border: 1px solid #a7bcff;
    font-size: 1em;
}

.settings textarea {
    width: 50em;
    height: 5em;
}

.settings label {
    display: block;
    margin-bottom: 0.5em;
}

.settings .section {
    margin-bottom: 1.5em;
}

.word-focus {
    color: red;
}

.content-wrapper.main {
    text-align: center;
}

.main .settings {
    display: inline-block;
    text-align: left;
}

.main .current-word {
    font-family: 'Times New Roman', serif;
    font-size: 2em;
    padding: 2em;
    text-align: center;
}

.control-bar {
    text-align: center;
    background: #e8edfa;
    margin-top: 1em;
    padding: 0;
    border-radius: 0.25em;
    overflow: hidden;
}

.control-bar .icon-left {
    float: left;
}

.control-bar .icon-right {
    float: right;
}

.control-bar button {
    border: 0;
    background: transparent;
    padding: 0.25em 1em;
}

.control-bar button:hover {
    background: #d6def3;
    color: #000;
}

.progress-bar {
    margin: 1em 0;
}

.progress-bar,
.progress {    
    height: 0.2em;
    background: #e8edfa;
    box-sizing: border-box;
}

.progress {
    background: #a7bcff;
}